// SCSS
// =======================================================

// * Imports semantic tokens / mixins without a namepsace, but with forwarded prefixes.
@use "../abstracts/index" as *;

// .item-indented
// =======================================================
.item-indented {
  // * Applies the flex-row-star-start layout properties.
  @include mx-lt-base("flex-row-start-start");

  gap: var(--item-indented-gap);
  padding: var(--item-indented-padding);
  border-bottom: var(--item-indented-border);

  // .item-indented__body
  // -------------------------------------------------------
  &__body {
    // * 16px gap between all direct children.
    @include mx-owl-selector(var(--item-indented-body-gap));

    // * 20px gap between title and body.
    margin-top: var(--item-indented-content-gap);
  }

  // .item-indented__content
  // ------------------------------------------------------
  &__content {
    // * Grows and shrinks accordingly to occupy available space in parent, size is determined by content.
    flex: 1 1 auto;
  }

  // .item-indented__side
  // ------------------------------------------------------
  &__side {
    // * 24px min and max size.
    flex: 0 0 1.5rem;

    &-icon {
      width: 12px;
      height: 12px;
    }
  }
}
