// SCSS
// =======================================================

// * Imports semantic tokens / mixins without a namepsace, but with forwarded prefixes.
@use "../abstracts/index" as *;

// .item-block
// =======================================================
.item-block {
  // * Applies the block-default layout properties.
  @include mx-lt-base("block-default");

  padding: var(--item-block-padding);
  border-bottom: var(--item-block-border);

  // .item-block__body
  // -------------------------------------------------------
  &__body {
    // * 20px gap between title and body.
    margin-top: var(--item-block-gap);
  }
}
