// SCSS
// =======================================================

// * Imports semantic tokens / mixins without a namepsace, but with forwarded prefixes.
@use "../abstracts/index" as *;

.work-nav-wrapper {
  // * Apply the block-default layout properties.
  @include mx-lt-base("block-default");

  // * Removes styling from <a>.
  text-decoration: none;
}

// .work-nav
// =======================================================
.work-nav {
  // Apply the flex-row-start-start layout properties.
  @include mx-lt-base("flex-row-start-start");

  gap: var(--work-nav-gap);
  padding: var(--work-nav-padding);
  border-bottom: var(--work-nav-border);

  // .work-nav__body
  // ------------------------------------------------------
  &__body {
    // * Grows and shrinks accordingly to occupy available space in parent, size is determined by content.
    flex: 1 1 auto;
  }

  // .work-nav__side
  // ------------------------------------------------------
  &__side {
    // * 24px min and max size.
    flex: 0 0 1.5rem;
  }

  // .work-nav__subtitle
  // ------------------------------------------------------
  &__subtitle {
    margin-top: var(--work-nav-body-gap);
  }
}
