// SCSS
// =======================================================
@use "../abstracts/index" as *;

// Footer
// =======================================================
.site-footer {
  @include mx-lt-base("block-default");

  padding: var(--site-footer-padding);

  // * Applies a gap of 24px between links and copyright.
  &__links + &__copyright {
    margin-top: var(--site-footer-gap);
  }

  &__links {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--site-footer-links-gap);
    align-items: flex-start;
    justify-content: flex-start;
  }
}
