// * Imports semantic tokens / mixins without a namepsace, but with forwarded prefixes.
@use "../abstracts/index" as *;

// Header
// =======================================================
.site-header {
  padding: var(--site-header-padding);

  @include mx-lt-base("block-default");
}

// Navigation
// =======================================================
.site-nav {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--site-nav-gap);
  align-items: center;
  justify-content: space-between;

  &__link {
    // * No growth or shrink, only basis.
    flex: 0 0 auto;

    // Link to Home
    &--to-home {
      display: block;

      // * Limits size to 16px by 16px.
      width: 1rem;
      height: 1rem;
    }
  }

  // * The navigation icon path inherits the fill of it's parent <svg>.
  .site-nav__icon {
    fill: var(--cl-icon-default);

    &-path {
      fill: inherit;
    }
  }
}
