// SCSS
// =======================================================
// * Imports semantinc tokens and mixins without namespace (forwarded with prefixes).
@use "../abstracts/index" as *;

// Base
// =======================================================

// HTML
// ------------------------------------------------------
html {
  // * Reserves space for scrollbar, but only displays it when necessary.
  scrollbar-gutter: stable;

  // * The scrollbar appears on vertical overflow.
  overflow-y: scroll;
}

// Body
// ------------------------------------------------------
body {
  // * Disable user selection on site.
  user-select: none;

  // * Website will always be as tall as viewport.
  min-height: 100vh;
  margin: 0;
  background-color: var(--cl-surface-default);
}

// Wrapper
// ------------------------------------------------------
.site-wrapper {
  // * Sets wrapper as default block styling.
  @include mx-lt-base("block-default");

  // * Disable user selection on site.
  user-select: none;

  // * Layout is contained to .site-wrapper and will not affect body or html.
  contain: layout;

  // * It will be no smaller than 390px and no larger than 560px.
  min-width: var(--site-wrapper-min-width);
  max-width: var(--site-wrapper-max-width);

  // * Wrapper is as tall as the viewport, vh is fallback for dvh.
  min-height: 100vh;
  min-height: 100dvh;

  // * Centers wrapper in body.
  margin-block: 0;
  margin-inline: auto;
  padding: var(--site-wrapper-padding);

  // * 0px gap between direct children of wrapper.
  @include mx-owl-selector(var(--site-wrapper-gap));
}

// Images
// ------------------------------------------------------
.site-img {
  width: 100%;
  border-radius: var(--img-radius);

  // * Images will correctly fill their container.
  object-fit: cover;

  // Styles
  &--style-wide {
    aspect-ratio: 2 / 1;
  }

  &--style-short {
    aspect-ratio: 3 / 2;
  }

  &--style-square {
    aspect-ratio: 1 / 1;
  }

  &--style-tall {
    aspect-ratio: 3 / 4;
  }
}

// Other
// =======================================================

// * Not part of the website, just for the font-test.html to show the bounding boxes to optically adjust the font-trimming.
.type-test-chart {
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
  align-items: center;
  justify-content: center;

  & > * {
    border-top: 1px dotted purple;
    border-bottom: 1px dotted purple;
  }
}
