// SCSS
// ========================================================
// * Imports semantic tokens / mixins without a namepsace, but with forwarded prefixes.
@use "../../abstracts/index" as *;

// * Import semantic root variables for aliasing.
@use "space";
@use "radius";
@use "color";

// Variables
// ========================================================
:root {
  // Wrapper
  // ------------------------------------------------------

  // Size
  --site-wrapper-min-width: #{bp-screen-width(mobile-sm)};
  --site-wrapper-max-width: #{bp-screen-width(mobile-lg)};

  // Padding
  --site-wrapper-padding: var(--sp-lg) var(--sp-md) var(--sp-lg) var(--sp-md);

  // Gap
  --site-wrapper-gap: var(--sp-none);

  // Header
  // ------------------------------------------------------

  // Padding
  --site-header-padding: var(--sp-none) var(--sp-none) var(--sp-none)
    var(--sp-none);

  // Gap
  --site-nav-gap: var(--sp-sm);

  // Content
  // ------------------------------------------------------

  // Padding
  --site-content-padding: var(--sp-none) var(--sp-none) var(--sp-none)
    var(--sp-none);

  // Gap
  --site-content-gap: var(--sp-none);

  // Section
  // ------------------------------------------------------

  // Small Padding
  --site-section-padding-sm: var(--sp-6xl) var(--sp-none) var(--sp-none)
    var(--sp-none);

  // Medium Padding
  --site-section-padding-md: var(--sp-6xl) var(--sp-none) var(--sp-none)
    var(--sp-none);

  // Large Padding
  --site-section-padding-lg: var(--sp-8xl) var(--sp-none) var(--sp-none)
    var(--sp-none);

  // Footer
  // ------------------------------------------------------

  // Padding
  --site-footer-padding: var(--sp-8xl) var(--sp-none) var(--sp-none)
    var(--sp-none);

  // Gap
  --site-footer-gap: var(--sp-md);
  --site-footer-links-gap: var(--sp-sm);

  // Images
  // ------------------------------------------------------
  --img-radius: var(--rd-xs);

  // Card
  // ------------------------------------------------------
  --card-padding: var(--sp-none) var(--sp-none) var(--sp-none) var(--sp-none);
  --card-gap: var(--sp-sm);
  --card-label-gap: var(--sp-sm);
}
