<!-- ===| Device |=== -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- ===| Preloading |=== -->
<!-- Preload all typefaces. -->
{% for preload in fonts.preload %}
<link
  rel="preload"
  href="{{ preload.url }}"
  as="font"
  type="{{ preload.type }}"
  crossorigin
/>
{% endfor %}
<!-- Preload CSS -->
<link rel="preload" href="/css/main.css" as="style" type="text/css" />

<!-- === | CSS | === -->
<link rel="stylesheet" href="/css/main.css" />

<!-- === | Favicon | === -->
<link
  rel="icon"
  href="/assets/favicon/favicon.svg"
  sizes="any"
  type="image/svg+xml"
/>

<!-- === | Page Information | === -->
<title>{{ title }}</title>
<meta name="author" content="{{ author.name }}" />
<meta name="description" content="{{ meta.description }}" />
<meta name="keywords" content="{{ meta.keywords }}" />

<!-- === | SEO | === -->
<!-- Robots -->
<meta name="robots" content="{{ meta.robots }}" />

<!-- Open Graph -->
<meta property="og:title" content="{{ title}}" />
<meta property="og:description" content="{{ meta.description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ meta.url }}" />
<meta property="og:image" content="https://yourwebsite.com/path-to-image.jpg" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ meta.description }}" />
<meta
  name="twitter:image"
  content="https://yourwebsite.com/path-to-image.jpg"
/>

<!-- Canonical -->
<link rel="canonical" href="{{ meta.url }}" />

<!-- === | Mobile Themes | === -->
 <!-- Tells the web that the site supports light and dark mode. -->
<meta name="color-scheme" content="dark light">

<!-- Light -->
<meta
  name="theme-color"
  media="(prefers-color-scheme: light)"
  content="hsl(30, 15%, 96%)"
/>

<!-- Dark -->
<meta
  name="theme-color"
  media="(prefers-color-scheme: dark)"
  content="hsl(30, 30%, 8%)"
/>
