<footer class="site-footer">
  <!-- Links -->
  <div class="site-footer__links">
    <!-- Email -->
    <a
      class="site-footer__link--email text-body text-body--type-plain-reg text-underline--style-default text-color--primary"
      href=""
      >Email</a
    >
    <!-- Resume -->
    <a
      class="site-footer__link--email text-body text-body--type-plain-reg text-underline--style-default text-color--primary"
      href=""
      >Resume</a
    >
    <!-- Linkedin -->
    <a
      class="site-footer__link--email text-body text-body--type-plain-reg text-underline--style-default text-color--primary"
      href=""
      >Linkedin</a
    >
    <!-- Layers -->
    <a
      class="site-footer__link--email text-body text-body--type-plain-reg text-underline--style-default text-color--primary"
      href=""
      >Layers</a
    >
  </div>
  <!-- Copyright -->
  <div class="site-footer__copyright">
    <p
      class="site-footer__copyright--text text-body text-body--type-plain-reg text-color--tertiary"
    ></p>
  </div>
</footer>
