<footer class="site-footer">
  <!-- Links -->
  <div class="site-footer__links">
    {% for link in footer.link %}
    <!-- {{ link.text }} -->
    <a class="site-footer--{{ link.class }} text-body {{ text_style.body.plain.reg }} text-color--primary text-underline--style-default" href="{{ link.url }}">{{ link.text }}</a>
    {% endfor %}
  </div>
  <!-- Copyright -->
  <div class="site-footer__copyright">
    <p
      class="site-footer__copyright--text {{ text_style.body.plain.reg }} text-color--tertiary"
    >	&copy; 2026 Francesco Roda</p>
  </div>
</footer>
